*{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    border: 0cm;
    background-color: rgb(250, 236, 219);
}
.cover{
    display: flex;
    justify-content: center;
}
.calculator{
    margin-top: 60px;
    background-color: rgb(189, 64, 64);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.screen{
    font-size: 50px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    height: 130px;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    word-break:break-all;
    text-align: right;
}
.buttons{
    width: 350px;
    height: 480px;
    margin: 20px;
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    background-color: rgb(189, 64, 64);
}
.button1{
    height: 70px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    border-radius: 15px;
}
#clear{
    background-color: rgb(255, 178, 193);
}
#delete{
    background-color: rgb(147, 177, 255);
}
.button{
    height: 70px;
    width: 80px;
    background-color: rgb(238, 255, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    border-radius: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-top: 40px;
    gap: 5px;
}
.name{
    color: rgb(0, 0, 0);
}
.git{
    display: flex;
    align-items: center;
}